$main-color: #2196F3;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: 'Roboto', arial, sans-serif;
}

.wrapper {
  padding: 0 15px;
  @include min(1200px) {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.row {
  display: flex;
  flex-flow: column;
  margin-left: -15px;
  margin-right: -15px;
  @include min(768px) {
    flex-flow: row;
  }
  .col {
    flex: 1;
    padding: 0 15px;
  }
  .col2 {
    flex: 2;
  }
  .col3 {
    flex: 3;
  }
}

p {
  color: #444;
  margin: 0 0 15px;
  @include min(1200px) {
    margin: 0 0 20px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  @include transition;
  color: #444;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mg-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pd-20 {
  padding: 20px;
}

.pt-50 {
  padding-top: 50px;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
