/* break point */
@mixin min($min-width) {
  @media screen and (min-width: $min-width) {@content;}
}

@mixin max($max-width) {
  @media screen and (max-width: $max-width) {@content;}
}

@mixin bw($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {@content;}
}

@mixin transition {
  transition: all .2s ease 0s;;
}

$browser-context: 16;

// unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}
